{% extends "front/base.html" %}

{% block title %}Liste des Articles{% endblock %}

{% block content %}
<h1>Liste des articles</h1>
{% if articles|length == 0 %}
Aucun article disponible
{% else %}
<ul>
{% for article in articles %}
    <li>
        <h2><a href="{% url 'front:article' article.id %}">{{ article.title }}</a></h2>
        <p>{{ article.summary }}</p>
        <img src="{{ article.thumbnail }}">
    </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}