{% extends "front/base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<article>
    <h1>{{ article.title }}</h1>
    <div class="summary">{{ article.summary }}</div>
    <img src="{{ article.image }}">
    <main>{{ article.text }}</main>
</article>
{% endblock %}