{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'front/style.css' %}">
        <title>{% block title %}Test Dernier Cri{% endblock %}</title>
    </head>

    <body>
        <header>
            <a href="{% url 'front:home' %}">Home</a>
            <a href="{% url 'api:api-root' %}">API</a>
            <a href="{% url 'api:openapi-schema' %}">Swagger</a>
        </header>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>