div#content {
    width: 900px;
    margin: 2em auto;
}

img {
    width: 450px;
    margin: 2em auto;
}

article > img {
    width: 900px;
    margin: 2em auto;
}

main {
    text-align: justify;
    hyphens: auto;
}